.paginationsActive {
  color: white;
  border-radius: 100%;
  /*width: 20px;*/
  background-color: #2fa0db !important;
  border: 1px solid;
}

.paginationsActive a {
  font-size: 20px;
}

.paginationsBtns {
  list-style: none;
  display: flex;
  border: 50px;
  justify-content: center;
}

.paginationsBtns a {
  padding: 8px;
  cursor: pointer;
  justify-content: space-between;
}

.paginationsBtns {
  padding: 5px;
  margin: 8px;
  color: #5A5A5A;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.paginationControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.prevBtn{
  font-weight: bold;
  font-size: 20px;
  color: #2fa0db !important;
}
.nextBtn{
  font-weight: bold;
  font-size: 20px;
  color: #2fa0db !important;
}